#menu-left {
  .menu-header {
    //background-image: url('../images/left-menu-top-background/forest.jpg');

    img {
      width: 100%;
      padding: 1em;
    }
  }
}

#toggle-menu-left {
  margin-left: 1em;
  text-align: center;
}
