{% extends 'templates/layout.njk' %}

{% block main %}
    <div class="row">
        <div class="col s12 center-align error-block">
            <p>Erreur : {{ error }}</p>
        </div>
    </div>
{% endblock %}
