/*** Global classes
---------------------------------------------------- */
.content-header {
    margin-bottom: 0.5em;
    font-size: 1.8em;
}

.content-block {
    margin-top: 0.5em;
    padding: 0.8rem;
    background-color: #FFFFFF;
    border : 1px solid #F0F0F0;
    border-bottom: 2px solid #CCCCCC;
}

.action-button {
    margin-top: 2em;
}

.game-join-input {
    font-size: 2.2em !important;
}

h5 {
    font-size: 1.2em;
    color: #26a69a;
}

.error-block{
    background: #e53935;
    color: white;
    padding: 0 0.3em 0 0.3em;
    margin-bottom: 0.5em;
}

/*** Homepage stats
---------------------------------------------------- */
.stats-value img {
    vertical-align: middle;
}

.stats-value p {
    font-size: 1.7em;
    margin-bottom: 0;
}


/*** Navbar
---------------------------------------------------- */
nav .nav-wrapper {
  background: #263238;
}

nav #nav-mobile {
  margin-right: 15%;
}

@media only screen and (max-width: 992px) {
  nav .brand-logo {
    margin-left: 0% !important;
  }
}

nav .brand-logo {
  margin-left: 15%
}

.brand-logo img {
    height: 80px;
}

/*** Navbar
---------------------------------------------------- */
.quizz-question-id{
    font-size: 1.5em;
}
/*** Footer
---------------------------------------------------- */

.page-footer {
    background-color: #263238;
}

.page-footer .footer-copyright {
    background-color: rgba(0, 0, 0, 0.08);
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: #f5f5f5;
}

main {
    flex: 1 0 auto;
}