.game {
    margin-top: 30px;
}

.main-game-block {
    width: 100%;
}

@media only screen and (min-width: 601px) {
  .game-layout.container {
      width: 95%;
  }

  .game {
      margin-top: 0 !important;
  }
}
