/* TODO voir avec Clement pour changer le grey */
.game .content-block {
    background-color: #F5F5F5;
}

.game .content-header {
    text-align: center;
    margin : 40px 0 35px 0;
}

.game .question {
    margin : 20px 0 30px 0;
}

.game .question .content-block {
    height : 20em;
    border-bottom: 0px;
    position: relative;
}

.game .question .numQuestion-title {
    font-weight: bold;
    font-size: 1.2em;
}

.game .question .progress {
    margin-top: 0;
}

.game .question .content-block .loading {
    padding-top: 10%;
    text-align: center;
}

.game .question .content-block .loading .preloader-wrapper {
    width: 80px;
    height: 80px;
}

.game .question .content-block .loading .text-spinner {
    font-size: 3.5em;
}

.game .question .content-block .question-text {
    height: 240px;
    display: table;
    text-align: center;
    width: 100%;
}

.game .question .content-block .question-text span {
    display: table-cell;
    vertical-align: middle;
    font-size: 3em;
}

.game .question .content-block .timer {
    text-align: center;
    font-size: 2em;
}



.game .players {
    height: 100%
}

.game .players .scores-title {
    font-size: 2em;
    text-align: center;
    margin: 20px 0 30px 0;
}

.game .players .players-table {
    margin: 10px;
    padding: 0;
}

.game .players .players-table .player div {
    font-size: 1.1em;
    padding: 0;
}
.game .players .players-table .player {
    margin: 3px;
}

.game .players .players-table .player .position .editable {
    background-color: #263238;
    padding: 3px 8px;
    color : white;
}

.game .answers {
    display: inline-block;
    width: 100%;
}

.game .answers .nbAnswers {
    margin : 10px 0 40px 0;
    height: 30px;
    text-align: center;
    font-size: 1.3em;
}

.game .answers .answer,
.game .answers .response {
    height : 250px;
    border-radius: 1px;
}

.game .answers .answer .answer-content,
.game .answers .response .response-content {
    border-radius: 4px;
    color : white;
    height: 100%;
    text-align: center;
    opacity: 0.9;
    cursor: pointer;
}

.game .answers .answer .answer-content:hover {
    opacity: 0.7;
    -webkit-transition: opacity .4s ease-in-out;
    -moz-transition: opacity .4s ease-in-out;
    -ms-transition: opacity .4s ease-in-out;
    -o-transition: opacity .4s ease-in-out;
    transition: opacity .4s ease-in-out;
}

.game .answers .ans1 .answer-content {
    background-color: #2E74B5;
}

.game .answers .ans2 .answer-content {
    background-color: #C45911;
}

.game .answers .ans3 .answer-content {
    background-color: #538135;
}

.game .answers .res1 .response-content {
    background-color: #2E74B5;
}

.game .answers .res2 .response-content {
    background-color: #C45911;
}

.game .answers .res3 .response-content {
    background-color: #538135;
}

.game .answers .answer .answer-content div,
.game .answers .response .response-content div {
    display: table;
    height: 100%;
    width: 100%;
}

.game .answers .answer .answer-content div .text,
.game .answers .response .response-content div .text {
    display: table-cell;
    vertical-align: middle;
    font-size: 2em;
}

@media only screen and (max-width: 601px) {
    .game .content-header {
        display: none;
    }

    .game .question {
        width: 100%;
        margin-bottom: 0;
    }

    .game .question .numQuestion-title {
        font-size: 1.2em;
    }

    .game .question .content-block .question-text span {
        font-size: 1.1em;
        display: block;
    }

    .game .question .content-block .question-text {
        height: 90%;
    }

    .game .question .content-block .timer {
        text-align: center;
        font-size: 1.2em;
    }

    .game .question .content-block .loading {
        padding-top: 0;
    }

    .game .question .content-block .loading .preloader-wrapper {
        width: 50px;
        height: 50px;
    }

    .game .question .content-block .loading .text-spinner {
        font-size: 2.3em;
    }

    .game .answers .answer,
    .game .answers .response {
        width: 100%;
        line-height: 1em;
        height: 6em;
        margin: 5px 0;
        padding: 0;
    }

    .game .answers .answer .answer-content div .text,
    .game .answers .response .response-content div .text {
        display: table-cell;
        vertical-align: middle;
        font-size: 1.2em;
    }

    .game .players.content-block {
        padding: 0;
        margin: 10px;
    }

    .game .question .content-block {
        height : 8em;
    }

    .game .answers .nbAnswers {
        margin-bottom: 0;
        font-size: 1em;
    }
}
