{% if games|length != 0 %}
<table class="highlight responsive-table">

    <thead>
    <tr>
        <th>Partie</th>
        <th>Joueurs</th>
        <th>Quizz</th>
        <th></th>
    </tr>
    </thead>

    <tbody>
    {% for game in games %}
        <tr>
            <td>{{ game.name }}</td>
            <td>
                {{ game.users.length }} /
                {% if game.max_player < 1  %}
                    ∞
                {% else %}
                    {{ game.max_player }}
                {% endif %}
            </td>
            <td>{{ game.quiz.name }} ({{ game.quiz.topic.name }})</td>
            <td>
                <a href="/games/{{ game._id }}" class="waves-effect waves-teal btn">Rejoindre</a>
            </td>
        </tr>
    {% endfor %}
    </tbody>

</table>
{% else %}
    <h5 class="center-align">Aucune partie en cours :(</h5>
{% endif %}