<li class="question-item">
    <div class="collapsible-header"><span class="quizz-question-id" style="padding-right: 1em;"></span></div>
    <div class="collapsible-body">
        <div class="row">
            <form class="col s12">

                <!-- question -->
                <div class="row">
                    <div class="input-field col s12">
                        <input placeholder="" type="text" class="validate question-name" value="">
                        <label>Question</label>
                    </div>
                </div>

                <!-- answer 1 -->
                <div class="row">
                    <div class="input-field col s10">
                        <input placeholder="" type="text" class="validate answer" value="">
                        <label>Réponse 1</label>
                    </div>
                    <p class="col s2">
                        <input name="correctanswer" type="radio" value="0" id="" checked/>
                        <label for="" ></label>
                    </p>
                </div>

                <!-- answer 2 -->
                <div class="row">
                    <div class="input-field col s10">
                        <input placeholder="" type="text" class="validate answer" value="">
                        <label>Réponse 2</label>
                    </div>
                    <p class="col s2">
                        <input name="correctanswer" type="radio" value="1" id=""/>
                        <label for="" ></label>
                    </p>
                </div>

                <!-- answer 3 -->
                <div class="row">
                    <div class="input-field col s10">
                        <input placeholder="" type="text" class="validate answer" value="">
                        <label>Réponse 3</label>
                    </div>
                    <p class="col s2">
                        <input name="correctanswer" type="radio" value="2" id=""/>
                        <label for="" ></label>
                    </p>
                </div>

                <!-- info -->
                <div class="row">
                    <div class="input-field col s12">
                        <textarea class="materialize-textarea"></textarea>
                        <label>Information sur la réponse</label>
                    </div>
                </div>

                <!-- delete button -->
                <div class="row">
                    <div class="col s12 center-align">
                        <button class="btn waves-effect waves-light red darken-1 question-delete">Supprimer la question
                            <i class="material-icons right">delete</i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</li>