{% extends '../templates/layout.njk' %}

{% block main %}
    <div class="row">
        <div class="col s12">

            <h1 class="content-header">Le quiz</h1>
            <div class="content-block">
                <div class="row">
                    <form class="col s12">
                        <div class="row">
                            <div class="input-field col s12 m6">
                                <input placeholder="" id="game_name" type="text" class="validate">
                                <label for="game_name">Nom du quiz</label>
                            </div>

                            <div class="input-field col s12 m6">
                                {% include 'templates/quizz.topic.selection.njk' %}
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <h1 class="content-header">Les questions</h1>
            <div class="content-block">
                <div class="row">
                    <div class="col s12 right-align">
                        <a href="#" class="waves-effect waves-teal btn-flat add-question">Ajouter une question</a>
                    </div>
                </div>

                {%  set quizz = [{question : "Qu'est ce qui est rond et marron ?", choices : ["Un marron", "Un... rond marron ?", "Un gland !"], answer : 1, info : "Déjà, qu'est ce qui est rond ? Un marron évidement. Et de couleur marron ? Toujours un marron."}] %}

                <div class="row">
                    <div class="col s12">
                        <ul class="collapsible popout" id="question-list" data-collapsible="accordion">
                            {% for quiz in quizz %}
                                {% set quizz_answer_id = loop.index %}
                                {%  include 'templates/quizz.create.item.njk' %}
                            {% endfor %}
                        </ul>
                    </div>
                </div>

                <div id="quiz-item-template" class="hiddendiv">
                    {%  include 'templates/quizz.create.item.njk' %}
                </div>

                <div class="row">
                    <div class="col s12 right-align">
                        <a href="#" class="waves-effect waves-teal btn-flat add-question">Ajouter une question</a>
                    </div>
                </div>

            </div>
            <div class="content-block">

                <div class="center-align">
                    <button class="btn waves-effect waves-light" id="game_create" type="submit" name="action">Créer le quizz
                        <i class="material-icons right">send</i>
                    </button>
                </div>
            </div>



        </div>
    </div>
{% endblock %}

{% block bottom_scripts %}
    {{ super }}
    <script>
        $('#search_quizz_topic').material_select();

        function updateQuestionId() {
            $('.quizz-question-id').each(function(){
                $(this).html('#'+Number($(this).parent().parent().index() + 1));
            });
            $('#question-list').find('[type=radio]').each(function(){
                var qid = $(this).parents('li').find('.quizz-question-id').first().html().substring(1);
                var id = 'answer-'+$(this).attr('value')+'-'+qid;
                $(this).attr('id', id);
                $(this).next().attr('for', id);
            });
        }

        $('.add-question').on('click', function(e){
            $('#quiz-item-template').clone().removeClass('hiddendiv').children().first().unwrap().appendTo("#question-list");
            updateQuestionId();
            e.preventDefault();
        });

        // bind clic event on every element with class question-delete
        // under #question-list (manage dynamic creation)
        $('#question-list').on('click', '.question-delete', function(e){
            $(this).parents('li').remove();
            updateQuestionId();
            e.preventDefault();
        });

        // When question is entered, copy the question into the
        // div header
        $('#question-list').on('change keyup', '.question-name', function(e){
            var node = $(this).parents('.question-item').children().first();
            node.contents().filter(function(){
                return this.nodeType === 3;
            }).remove();
            node.append($(this).val());
            e.preventDefault();
        });




        updateQuestionId();

    </script>
{% endblock %}