{% extends '../templates/layout.njk' %}

{% block main %}
    <div class="row">
        <div class="col s12">

            <h1 class="content-header">Le quiz</h1>
            <div class="content-block">
                <div class="row">
                    <form class="col s12">
                        <div class="row">
                            <div class="input-field col s12 m6">
                                <input placeholder="" id="game_name" type="text" class="validate">
                                <label for="game_name">Nom du quiz</label>
                            </div>

                            <div class="input-field col s12 m6">
                                {% include 'templates/quizz.theme.selection.njk' %}
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <h1 class="content-header">Les questions</h1>
            <div class="content-block">
                <div class="row">
                    <div class="col s12 right-align">
                        <a href="/quizz/create" class="waves-effect waves-teal btn-flat">Ajouter une question</a>
                    </div>
                </div>

                {%  set quizz = [{question : "Qu'est ce qui est rond et marron ?", choices : ["Un marron", "Un... rond marron ?", "Un gland !"], answer : 1, info : "Déjà, qu'est ce qui est rond ? Un marron évidement. Et de couleur marron ? Toujours un marron."}] %}

                <div class="row">
                    <div class="col s12">
                        <ul class="collapsible" data-collapsible="accordion">
                            {% for quiz in quizz %}
                                {% set quizz_answer_id = loop.index %}
                                {%  include 'templates/quizz.create.item.njk' %}
                            {% endfor %}
                        </ul>
                    </div>
                </div>

                <div class="row">
                    <div class="col s12 right-align">
                        <a href="/quizz/create" class="waves-effect waves-teal btn-flat">Ajouter une question</a>
                    </div>
                </div>

                <div class="row">
                    <div class="col s12 center-align">
                        <button class="btn waves-effect waves-light" id="game_create" type="submit" name="action">Créer le quiz !
                            <i class="material-icons right">send</i>
                        </button>
                    </div>
                </div>
            </div>



        </div>
    </div>
{% endblock %}
