{% extends '../templates/layout.njk' %}

{% block main %}
    <div class="row">
        <div class="col s12">

            <h1 class="content-header">Liste des quizz</h1>
            <div class="content-block">
                <div class="row">
                    <div class="col s12 right-align">
                        <a href="/quizz/create" class="waves-effect waves-teal btn">Créer un quizz</a>
                    </div>
                </div>
                <div class="row">
                    <form class="col s12">
                        <div class="row">
                            <div class="input-field col s12 m6">
                                <input placeholder="" id="search_quizz_name" type="text" class="validate">
                                <label for="search_quizz_name">Nom du quiz</label>
                            </div>

                            <div class="input-field col s12 m6">
                                {% include 'templates/quizz.topic.selection.njk' %}
                            </div>
                        </div>
                    </form>
                </div>
                <div class="row">
                    <div class="col s12">
                        {%  include "templates/quizz.list.njk" %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block bottom_scripts %}
    <script>
        $('#search_quizz_topic').material_select();
    </script>
{% endblock %}