<div class="answers">
    <div class="col s12 nbAnswers">
        <div class="nbaContent">On attend encore <span class="editable"></span>...</div>
    </div>

    <div class="col m12 l4 answer ans1">
        <div class="answer-content">
            <div>
                <span class="text editable"></span>
            </div>
        </div>
    </div>

    <div class="col m12 l4 answer ans2">
        <div class="answer-content">
            <div>
                <span class="text editable"></span>
            </div>
        </div>
    </div>

    <div class="col m12 l4 answer ans3">
        <div class="answer-content">
            <div>
                <span class="text editable"></span>
            </div>
        </div>
    </div>

    <div class="col m12 l4 response res1">
        <div class="response-content">
            <div>
                <span class="text editable"></span>
            </div>
        </div>
    </div>

    <div class="col m12 l4 response res2">
        <div class="response-content">
            <div>
                <span class="text editable"></span>
            </div>
        </div>
    </div>

    <div class="col m12 l4 response res3">
        <div class="response-content">
            <div>
                <span class="text editable"></span>
            </div>
        </div>
    </div>
</div>
