<div class="answers content-block">
    <div class="ans1">
        <span class="text">Rep 1</span>
    </div>

    <div class="ans2">
        <span class="text">Rep 2</span>
    </div>

    <div class="ans3">
        <span class="text">Rep 3</span>
    </div>
</div>
