<div class="players content-block">
    <div class="scores-title">Scores</div>

    <div class="col s12 players-table">
    {% for player in players %}
        <div class="col s12 player">
            <div class="col s2 position">
                <span class="editable circle">{{ loop.index }}</span>
            </div>
            <div class="col s6 name">
                <span class="editable">{{ player.name }}</span>
            </div>
            <div class="col s2 points">
                <span class="editable">{{ player.pts }} pts</span>
            </div>
            <div class="col s2 played">
                <span class="editable">...</span>
            </div>
        </div>
    {% endfor %}
    </div>

</div>
