<div class="question">
    <div class="nbQuestion-title">Question <span class="nbQuestion">0</span> / 20</div>

    <div class="content-block">
        <!-- <div class="loading">

            <div class="preloader-wrapper active">
              <div class="spinner-layer spinner-red-only">
                <div class="circle-clipper left">
                  <div class="circle"></div>
                </div><div class="gap-patch">
                  <div class="circle"></div>
                </div><div class="circle-clipper right">
                  <div class="circle"></div>
                </div>
              </div>

              <span class="text-spinner">2</span>
            </div>

        </div> -->

        <div class="question-text">
            <span>Qu'est-ce qui est petit et marron ?</span>
        </div>

    </div>

    <div class="progress">
        <div class="determinate" style="width: 30%"></div>
    </div>
</div>
