<div class="players content-block">

    <div class="scores-title">
      <div class="game-name">
          <span class="editable"></span>
      </div>

      <div class="joueurs">Joueurs</div>
    </div>

    <div class="col s12 players-table"></div>

</div>
