<div class="question">
    <div class="numQuestion-title">Question <span class="numQuestion editable">-</span> / <span class="nbQuestions editable">-</span></div>

    <div class="content-block">
        <div class="loading">

            <div class="preloader-wrapper active">
              <div class="spinner-layer spinner-red-only">
                <div class="circle-clipper left">
                  <div class="circle"></div>
                </div><div class="gap-patch">
                  <div class="circle"></div>
                </div><div class="circle-clipper right">
                  <div class="circle"></div>
                </div>
              </div>

              <span class="text-spinner">
                  <span class="editable"></span>
              </span>
            </div>

        </div>

        <div class="question-text">
            <span class="editable"></span>
        </div>

        <div class="timer">
            <span class="editable"></span>
        </div>
    </div>

    <div class="progress">
        <div class="determinate"></div>
    </div>
</div>
