<h1 class="content-header">Parties ouvertes</h1>

<div class="content-block">

    {% include 'templates/games.list.njk'%}

    <div class="right-align action-button">
        <a href="/games" class="waves-effect waves-teal btn-flat">Voir toutes les parties</a>
        <a href="/games/create" class="waves-effect waves-teal btn-flat">Créer une partie</a>
    </div>
</div>