<h1 class="content-header">Parties ouvertes</h1>

<div class="content-block">

    {# Todo : remove bottom line + use 'games' from front #}
    {% set games = [{name : "test", nb_players : 5, max_players : 25, quizz : "Un test", url : "TEC58"}] %}

    {% include 'templates/games.list.njk'%}

    <div class="right-align action-button">
        <a href="/games" class="waves-effect waves-teal btn-flat">Voir toutes les parties</a>
        <a href="/games/create" class="waves-effect waves-teal btn-flat">Créer une partie</a>
    </div>
</div>