{% extends 'templates/layout.njk' %}

{% block main %}
    <div class="row">
        <div class="col s12">

            <h1 class="content-header">Créer une partie</h1>
            <div class="content-block">
                <div class="row">
                    <form class="col s12">
                        <div class="row">
                            <div class="input-field col s12">
                                <input placeholder="" id="game_name" type="text" class="validate">
                                <label for="game_name">Nom de la partie</label>
                            </div>
                        </div>

                        <div class="row">
                            <div class="input-field col s12 m6">
                                <input id="game_capacity" type="number" class="validate" value="8">
                                <label for="game_capacity">Nombre de joueurs</label>
                            </div>
                            <div class="input-field col s12 m6">
                                <p>
                                    <input type="checkbox" class="filled-in" id="game_unlimited_capacity" />
                                    <label for="game_unlimited_capacity">Aucune limite</label>
                                </p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="switch col s12">
                                <label>
                                    Privée
                                    <input type="checkbox" id="game_visibility"checked="unchecked">
                                    <span class="lever"></span>
                                    Public
                                </label>
                            </div>
                        </div>

                        <input type="hidden" id="game_quiz"/>
                    </form>
                </div>
            </div>

            <h1 class="content-header">Choix du quizz</h1>
            <div class="content-block">
                <div class="row">
                    <form class="col s12">
                        <div class="row">
                            <div class="input-field col s12">
                                <input placeholder="" id="game_quiz_name" type="text" class="validate" readonly>
                                <label for="game_quiz">Quiz séléctionné</label>
                            </div>

                            <input type="hidden" id="game_quiz_id" val=""/>
                        </div>

                        <div class="row">
                            <div class="input-field col s12 m6">
                                <input placeholder="Tapez le nom du quizz à utiliser" id="search_quizz_name" type="text" class="validate">
                                <label for="search_quizz_name">Nom du quizz</label>
                            </div>

                            <div class="input-field col s12 m6">
                                <select id="search_quizz_topic">
                                    {%  for topic in topics %}
                                        <option value="{{ topic._id }}">{{ topic.name }}</option>
                                    {% endfor %}
                                </select>
                                <label for="search_quizz_theme">Thème du quizz</label>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="row">
                    <div class="col s12">

                        <table class="highlight responsive-table s12">
                            <thead>
                            <tr>
                                <th>Nom</th>
                                <th>Thème</th>
                                <th></th>
                            </tr>
                            </thead>

                            <tbody>

                            {% set quizz = [{name:"Test", _id:"123456", topic:"Topic"}]%}

                            {% for quiz in quizz %}
                                <tr>
                                    <td>{{ quiz.name }}</td>
                                    <td>{{ quiz.topic }}</td>
                                    <td><a class="waves-effect waves-teal btn" onclick="onQuizSelected('{{ quiz.name }}', '{{ quiz._id }}')">Utiliser</a></td>
                                </tr>
                            {% endfor %}

                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 center-align">
                        <button class="btn waves-effect waves-light" id="game_create" type="submit" name="action">Lancer la partie !
                            <i class="material-icons right">send</i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block bottom_scripts %}
    {{ super }}
    <script>
        $('#search_quizz_topic').material_select();

        // Disable game capacity input if unlimited
        $('#game_unlimited_capacity').on('change', function () {
            var disable = $('#game_unlimited_capacity').is(':checked');
            $('#game_capacity').prop('disabled', disable);
        })

        /**
         * Add the selected quiz name into the text input and set the val of the hidden input with
         * the quiz id.
         */
        function onQuizSelected(name, id)
        {
            $("#game_quiz_name").val(name);
            $("#game_quiz_id").val(id);
        }
    </script>
{% endblock %}