{% extends 'templates/layout.njk' %}

{% block main %}
    <div class="row">
        <div class="col s12">

            <h1 class="content-header">Créer une partie</h1>
            <div class="content-block">
                <div class="row">
                    <form class="col s12">
                        <div class="row">
                            <div class="input-field col s12">
                                <input placeholder="" id="game_name" type="text" class="validate">
                                <label for="game_name">Nom de la partie</label>
                            </div>
                        </div>

                        <div class="row">
                            <div class="input-field col s4">
                                <input id="game_capacity" type="number" class="validate" value="8">
                                <label for="game_capacity">Nombre de joueurs</label>
                            </div>
                            <div class="input-field col s8">
                                <p class="input-field" >
                                    <input type="checkbox" class="filled-in" id="game_unlimited_capacity" />
                                    <label for="game_unlimited_capacity">Aucune limite</label>
                                </p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="switch col s12">
                                <label>
                                    Privée
                                    <input type="checkbox" id="game_visibility"checked="unchecked">
                                    <span class="lever"></span>
                                    Public
                                </label>
                            </div>
                        </div>

                        <input type="hidden" id="game_quiz"/>
                    </form>
                </div>
            </div>

            <h1 class="content-header">Choix du quizz</h1>
            <div class="content-block">
                <div class="row">
                    <form class="col s12">
                        <div class="row">
                            <div class="input-field col s12">
                                <input placeholder="" id="game_quiz_name" type="text" class="" value="{{ selected_quiz.name }}" readonly>
                                <label for="game_quiz">Quiz séléctionné</label>
                            </div>

                            <input type="hidden" id="game_quiz_id" value="{{ selected_quiz._id }}"/>
                        </div>

                        <div class="row">
                            <div class="divider"></div>
                            <div class="input-field col s12">
                                <h5>Rechercher un quiz :</h5>
                            </div>
                        </div>

                        <div class="row">


                            <div class="input-field col s12 m6">

                                <input placeholder="Tapez le nom du quizz à utiliser" id="search_quizz_name" type="text" class="validate">
                                <label for="search_quizz_name">Nom du quizz</label>
                            </div>

                            <div class="input-field col s12 m6">
                                <select id="search_quizz_topic">
                                    {%  for topic in topics %}
                                        <option value="{{ topic._id }}">{{ topic.name }}</option>
                                    {% endfor %}
                                </select>
                                <label for="search_quizz_theme">Thème du quizz</label>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="row">
                    <div class="col s12" id="search_quizz_result">

                        <table class="highlight responsive-table s12">
                            <thead>
                            <tr>
                                <th>Nom</th>
                                <th>Thème</th>
                                <th></th>
                            </tr>
                            </thead>

                            <tbody>

                            {% for quiz in quizz %}
                                <tr>
                                    <td>{{ quiz.name }}</td>
                                    <td>{{ quiz.topic.name }}</td>
                                    <td><a class="waves-effect waves-teal btn use-quiz" data-quizid="{{ quiz._id }}" data-quizname="{{ quiz.name }}">Utiliser</a></td>
                                </tr>
                            {% endfor %}

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="content-block">
                <div class="row error-block valign-wrapper hide">
                    <div class="col s1">
                        <i class="material-icons">report_problem</i>
                    </div>
                    <div class="col s11" id="form_errors">
                        <ul>
                        </ul>
                    </div>

                </div>

                <div class="center-align">
                    <button class="btn waves-effect waves-light" id="game_create" type="submit" name="action">Lancer la partie !
                        <i class="material-icons right">send</i>
                    </button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block bottom_scripts %}
    {{ super }}
    <script>
        $('#search_quizz_topic').material_select();

        // Disable game capacity input if unlimited
        $('#game_unlimited_capacity').on('change', function () {
            var disable = $('#game_unlimited_capacity').is(':checked');
            $('#game_capacity').prop('disabled', disable);
        })

        /**
         * Add the selected quiz name into the text input and set the val of the hidden input with
         * the quiz id.
         *//*
        function onQuizSelected(name, id)
        {
            $("#game_quiz_name").val(name);
            $("#game_quiz_id").val(id);
        }
*/

        $('.use-quiz').on('click', function(){
            $("#game_quiz_name").val($(this).data('quizname'));
            $("#game_quiz_id").val($(this).data('quizid'));
        });

        $('#search_quizz_topic').material_select();

        function doSearch(){
            console.log("PERFORM SEARCH");
            var topic = $('#search_quizz_topic').val();
            var name = $('#search_quizz_name').val();
            console.log("TOPIC : "+topic + "    NAME : "+ name);
            $.ajax({
                url: '/api/1.0/search/quiz?name='+name+'&topic='+topic,
                method: 'GET',
                dataType: 'json',
                success: function(result, status){
                    console.log(result);
                    var table = $('#search_quizz_result').find('table tbody');
                    table.html("");
                    result.forEach((r) => {
                        table.append("<tr><td>"+r.name+"</td><td>"+r.topic.name+"</td><td><a class=\"waves-effect waves-teal btn use-quiz\" data-quizId=\""+r._id+"\" data-quizName=\""+r.name+"\">Utiliser</a></td></tr>");
                    });
                },
                error: function (result, status, err) {
                    console.log(err);
                }
            })
        }

        $('#search_quizz_topic').on('change', ()=> {doSearch()});
        $('#search_quizz_name').on('change keyup paste', ()=> {doSearch()});



        $('#game_create').on('click', () => {

            var data = {
                name: $('#game_name').val(),
                is_private: !$('#game_visibility').is(":checked"),
                quiz_id: $("#game_quiz_id").val()
            };
            if(! $('#game_unlimited_capacity').is(":checked") && $('#game_capacity').val() > 0){
                data.nb_max_user = $('#game_capacity').val();
            }
            $.ajax({
                url : '/api/1.0/game/create/',
                method: 'POST',
                dataType: 'json',
                data,
                success: (res, status)=>{
                    window.location.href = "/games/"+res;
                },
                error: (res, status, err) => {

                    var errors = JSON.parse(res.responseText);
                    console.log(errors.messages);

                    $('#form_errors ul').empty();

                    for (var i = 0, len = errors.messages.length; i < len; i++) {
                        $('#form_errors ul').append('<li>' + errors.messages[i] +' </li>')
                    }

                    $('.error-block').removeClass('hide');
                }
            })

        });

    </script>
{% endblock %}