{% extends 'templates/layout.njk' %}

{% block main %}
    <div class="row">
        <div class="col s12">

            <h1 class="content-header">Créer une partie</h1>
            <div class="content-block">
                <div class="row">
                    <form class="col s12">
                        <div class="row">
                            <div class="input-field col s12">
                                <input placeholder="" id="game_name" type="text" class="validate">
                                <label for="game_name">Nom de la partie</label>
                            </div>
                        </div>

                        <div class="row">
                            <div class="input-field col s12 m6">
                                <input id="game_capacity" type="number" class="validate" value="8">
                                <label for="game_capacity">Nombre de joueurs</label>
                            </div>
                            <div class="input-field col s12 m6">
                                <p>
                                    <input type="checkbox" class="filled-in" id="unlimited_capacity" checked="unchecked" />
                                    <label for="unlimited_capacity">Aucune limite</label>
                                </p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="switch col s12">
                                <label>
                                    Privée
                                    <input type="checkbox" id="game_visibility"checked="unchecked">
                                    <span class="lever"></span>
                                    Public
                                </label>
                            </div>
                        </div>

                        <input type="hidden" id="game_quiz"/>
                    </form>
                </div>
            </div>

            <h1 class="content-header">Choix du quizz</h1>
            <div class="content-block">
                <div class="row">
                    <form class="col s12">
                        <div class="row">
                            <div class="input-field col s12">
                                <input placeholder="" id="game_quiz" type="text" class="validate" readonly>
                                <label for="game_quiz">Quiz séléctionné</label>
                            </div>
                        </div>

                        <div class="row">
                            <div class="input-field col s12 m6">
                                <input placeholder="Tapez le nom du quizz à utiliser" id="search_quizz_name" type="text" class="validate">
                                <label for="search_quizz_name">Nom du quizz</label>
                            </div>

                            <div class="input-field col s12 m6">
                                <select id="search_quizz_theme">
                                    {%  for theme in thems %}
                                        <option value="{{ theme.id }}">{{ theme.value }}</option>
                                    {% endfor %}
                                </select>
                                <label for="search_quizz_theme">Thème du quizz</label>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="row">
                    <div class="col s12">
                        {% if quizz %}
                            <table class="highlight responsive-table s12">
                            <thead>
                            <tr>
                                <th>Nom</th>
                                <th>Thème</th>
                                <th></th>
                            </tr>
                            </thead>

                            <tbody>

                            {% for quiz in quizz %}
                                <tr>
                                    <td>{{ quiz.name }}</td>
                                    <td>{{ quiz.theme }}</td>
                                    <td><a class="waves-effect waves-teal btn">Utiliser</a></td>
                                </tr>
                            {% endfor %}

                            </tbody>
                        </table>
                        {% else %}
                            <p class="center-align">Aucun quizz trouvé.</p>
                        {% endif %}
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 center-align">
                        <button class="btn waves-effect waves-light" id="game_create" type="submit" name="action">Lancer la partie !
                            <i class="material-icons right">send</i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block bottom_scripts %}
    {{ super }}
    <script>
        /*
        $(document).ready(function() {
            $('select').material_select();
            $('#game_create').click(onSubmit())
            $('#search_quizz_name').change(searchQuizz());
            $('#search_quizz_theme').change(searchQuizz());
        });
        */

        function searchQuizz()
        {
            console.log("New quizz search");
        }

        function computeNbMaxUser()
        {
            return $('#unlimited_capacity').is(":checked") ? -1 : $( "#game_capacity" ).val();
        }

        function isPrivate()
        {
            return !$('#game_visibility').is(":checked");
        }
        
        function onSubmit() {
            $.ajax({
                method: "POST",
                url: "/api/v1/game/create",
                data: {
                    quiz_id: "John",
                    is_private: isPrivate(),
                    nb_max_user: computeNbMaxUser(),
                    name : $( "#game_name" ).val()
                }
            })
            .done(function( msg ) {
                alert( "Data Saved: " + msg );
            })
            .fail(function() {
                alert( "error" );
            });
        }
    </script>
{% endblock %}