{% extends '../templates/layout.njk' %}

{% block main %}
    <div class="row">
        <div class="col s12">

            <h1 class="content-header">Rejoindre une partie</h1>
            <div class="content-block center-align">
                <div class="row">
                    <div class="input-field col m6 offset-m3 s12">
                        <i class="material-icons prefix">input</i>
                        <input id="game_join_id" type="text" class="validate">
                        <label for="game_join_id">Identifiant de la partie à rejoindre :</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col m6 offset-m3 s12">
                        <a class="waves-effect waves-light btn disabled" id="game_join_button" onclick="join()"><i class="material-icons right">send</i>button</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col s12">

            <h1 class="content-header">Parties ouvertes</h1>
            <div class="content-block">
                <div class="row">
                    <form class="col s12">
                        <p>Rechercher une partie :</p>
                        <div class="row">
                            <div class="input-field col s12 m6">
                                <input placeholder="" id="search_quizz_name" type="text" class="validate">
                                <label for="search_quizz_name">Nom de la partie</label>
                            </div>

                            <div class="input-field col s12 m6">
                                <select id="search_quizz_topic">
                                    {%  for topic in topics %}
                                        <option value="{{ topic._id }}">{{ topic.name }}</option>
                                    {% endfor %}
                                </select>
                                <label for="search_quizz_topic">Thème du quizz</label>
                            </div>
                        </div>
                    </form>
                </div>

                {#
                    Structure d'une ligne de résultat :

                    <tr>
                        <td>{{ game.name }}</td>
                        <td>
                            {{ game.nb_players }} /
                            {% if game.max_player < 1  %}
                                ∞
                            {% else %}
                                {{ game.max_player }}
                            {% endif %}
                        </td>
                        <td>{{ game.quiz.name }} ({{ game.quiz.topic }})</td>
                        <td>
                            <a href="/games/{{ game._id }}" class="waves-effect waves-teal btn">Rejoindre</a>
                        </td>
                    </tr>

                #}

                {% set games = [{name:"Test", quiz: {name:"QuizFoo", topic:"TopicTest"}, nb_players:2, max_player:12}] %}

                <div class="row">
                    <div class="col s12">
                        {%  include "templates/games.list.njk" %}
                    </div>
                </div>

                <div class="row">
                    <div class="col s12 right-align">
                        <a href="/games/create" class="waves-effect waves-teal btn-flat">Créer une partie</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block bottom_scripts %}
    {{ super }}

    <script>

        $('#search_quizz_topic').material_select();

        // Enable / disable button if content is empty
        $("#game_join_id").on("change keyup past", function () {
            if(!$("#game_join_id").val())
            {
                $('#game_join_button').addClass("disabled")
            }
            else
            {
                $('#game_join_button').removeClass("disabled")
            }
        })

        // Join on ENTER key pressed
        $('#game_join_id').on('keypress', function (e) {
            if(e.which === 13){
                join();
            }
        });

        function join() {
            if($("#game_join_id").val())
            {
                document.location.href = "/games/" + $("#game_join_id").val()
            }
        }
    </script>


{% endblock %}