<footer class="page-footer">
  <div class="footer-copyright">
    <div class="container">
      © Polytech' Paris-Sud - APP4 INFO 2016-2017
      <a class="grey-text text-lighten-4 right" href="#!">Salut, et merci pour les poissons</a>
    </div>
  </div>
</footer>