<footer class="page-footer">
  <div class="footer-copyright">
    <div class="container ">
      <div class="center-align">
        © Polytech' Paris-Sud - APP4 INFO 2016-2017
      </div>
      <div class="center-align">
        Salut, et merci pour les poissons
      </div>
    </div>
  </div>
</footer>